#!/bin/bash
LOCK_FILE="/tmp/blockchain-backup.lock"

cleanup() {
  rm -f "$LOCK_FILE"
  rm -f /tmp/*.sqlite
  sudo systemctl start chia
  sudo systemctl start monit
}

if [ -e $LOCK_FILE ]; then
  echo "Lock file exists, not starting another backup"
  exit 1
fi

trap cleanup EXIT

touch $LOCK_FILE

echo "Stopping monit services..."
sudo systemctl stop monit || true

echo "Stopping chia services..."
sudo systemctl stop chia

count=1
while :; do
  processes=$(pgrep chia | grep -v grep | wc -l)
  echo "found $processes running chia processes. Waiting for all processes to stop..."

  # Exit conditions
  [[ $processes > 0 ]] || break
  [[ $count -lt 30 ]] || exit 2

  count=$(expr $count + 1)
  sleep 1
done

#Permission will be required to pull an object from the S3 bucket.

echo "Downloading s3 database..."
aws s3 cp "s3://{{ blockchain_backup_bucket }}/{{ network }}/blockchain_v1_{{ network }}.sqlite" "{{ chia_root }}/db/blockchain_v1_{{ network }}.sqlite"

sudo chown ubuntu:ubuntu "{{ chia_root }}/db/blockchain_v1_{{ network }}.sqlite"

echo "Starting chia services..."
sudo systemctl start chia
