[Unit]
Description=Chia Service for {{ user }}

[Service]
Type=forking
Environment=CHIA_ROOT={{ chia_root }}
{% if chia_installation_method == "source" %}
Environment=PATH=/home/{{ user }}/chia-blockchain/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/{{ user }}/chia-blockchain/venv/bin/chia start {{ component }}
{% else %}
ExecStart=/usr/bin/chia start {{ component }}
{% endif %}
User={{ user }}
Group={{ group }}
LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target
