[Unit]
Description=Chia Service for {{ user }}

[Service]
Type=forking
Environment=PATH=/home/{{ user }}/chia-blockchain/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=CHIA_ROOT={{ chia_root }}
ExecStart=/home/{{ user }}/chia-blockchain/venv/bin/chia{{ chia_seeder | ternary('_seeder','') }} start {{ component }}
User={{ user }}
Group={{ group }}
LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target
