check program chia-hw-vdf with path "/bin/systemctl is-active --quiet chia-hw-vdf.service"
    start program = "/bin/systemctl start chia-hw-vdf.service"
    stop program = "/bin/systemctl stop chia-hw-vdf.service"
    restart program = "/etc/monit/monit-hw-vdf-restart-alert.sh"
    if status != 0 then restart
    # Prevent endless restart loops
    if 5 restarts within {{ 5 * chia_monit_failure_threshold }} cycles then timeout
