#!/bin/bash

# Webhook URL where the alert will be sent
WEBHOOK_URL="https://alert-receiver.chiaops.com/ips-info"
HOSTNAME=$(/bin/hostname)
BEARER_TOKEN="{{ CHIA_ALERTS_RECEIVER_TOKEN }}"

# Get the Tailscale IPv4 address
TAILSCALE_IPV4=$(tailscale ip | grep -oE '([0-9]{1,3}\.){3}[0-9]{1,3}' | head -n 1)
PAYLOAD=$(
	cat <<EOF
{
	"alerts": [
		{
			"status": "warning",
			"annotations": {
				"title": "Monit Alert",
				"description": "Monit has restarted the Chia services on host $HOSTNAME with Tailscale IP $TAILSCALE_IPV4"
			}
		}
	]
}
EOF
)

# Send curl request with JSON payload and authentication
HTTP_RESPONSE=$(curl -v -s -o /dev/null -w "%{http_code}" -X POST -H "Content-Type: application/json" \
	-H "Authorization: Bearer $BEARER_TOKEN" \
	-d "$PAYLOAD" "$WEBHOOK_URL")

# Check the HTTP response code
if [ "$HTTP_RESPONSE" -eq 200 ]; then
	echo "Webhook alert sent successfully."
elif [ "$HTTP_RESPONSE" -eq 401 ]; then
	echo "Failed to send webhook alert. Unauthorized (401)."
else
	echo "Failed to send webhook alert. HTTP Status: $HTTP_RESPONSE"
fi
