{{ chia_root }}/log/validation-time.log {
        size 20M
        compress
        delaycompress
        maxage 180
        dateext
        missingok
}

{{ chia_root }}/log/pre-validation-time.log {
        size 20M
        compress
        delaycompress
        maxage 180
        dateext
        missingok
}
