[Unit]
Description=Chia Exporter Service for {{ user }}

[Service]
Type=simple
Environment=CHIA_ROOT={{ chia_root }}
ExecStart=/usr/local/bin/chia-exporter serve {{ ' --log-block-times' if chia_exporter_log_block_times else '' }}
User={{ user }}
Group={{ group }}

[Install]
WantedBy=multi-user.target
