check host climate_explorer_{{ user }} with address 127.0.0.1
    start program = "/bin/systemctl start climate-explorer-chia@{{ user }}" with timeout 600 seconds
    stop program = "/bin/systemctl stop climate-explorer-chia@{{ user }}"
    if failed
        port {{ climate_explorer_port }}
        protocol http
        request "v1/activities?page=1&limit=3"
    then restart
    if 5 restarts within 5 cycles then timeout
