#!/bin/bash

log() {
	msg=$1
	echo "$(date) ${msg}"
}


log "Starting backup"

LOCK_FILE="/tmp/blockchain-backup.lock"

cleanup() {
	log "Removing lock file..."
	rm -f "$LOCK_FILE"
	log "Removing *.sqlite files..."
	rm -f /tmp/*.sqlite
	log "Removing *.sqlite.gz files..."
	rm -f /tmp/*.sqlite.gz
	log "Starting Chia..."
	sudo systemctl start chia.target
	log "Starting Monit..."
	sudo systemctl start monit
	log "Done! Exiting..."
}

if [ -e $LOCK_FILE ]; then
	log "Lock file exists, not starting another backup"
	exit 1
fi

trap cleanup EXIT

touch $LOCK_FILE

log "Stopping monit services..."
sudo systemctl stop monit
log "Stopping chia services..."
sudo systemctl stop chia.target

count=1
while :; do
	processes=$(ps -aux | grep chia | grep -v grep | grep -v chia-exporter | wc -l)
	log "found $processes running chia processes. Waiting for all processes to stop..."

	# Exit conditions
	[[ $processes > 0 ]] || break
	[[ $count -lt 30 ]] || exit 2

	count=$(expr $count + 1)
	sleep 5
done

log "Compressing database..."
gzip -c "{{ chia_root }}/db/blockchain_{{ db_version }}_{{ network }}.sqlite" >"/tmp/blockchain_{{ db_version }}_{{ network }}.sqlite.gz"

log "Starting database upload to s3 (uncompressed)..."
aws --no-progress s3 cp "{{ chia_root }}/db/blockchain_{{ db_version }}_{{ network }}.sqlite" "s3://{{ blockchain_backup_bucket }}/{{ network }}/blockchain_{{ db_version }}_{{ network }}.sqlite"

log "Starting database upload to s3 (compressed)..."
aws --no-progress s3 cp "/tmp/blockchain_{{ db_version }}_{{ network }}.sqlite.gz" "s3://{{ blockchain_backup_bucket }}/{{ network }}/blockchain_{{ db_version }}_{{ network }}.sqlite.gz"

log "Starting height-to-hash cache file upload to s3"
aws --no-progress s3 cp "{{ chia_root }}/db/height-to-hash" "s3://{{ blockchain_backup_bucket }}/{{ network }}/height-to-hash"

log "Starting sub-epoch-summaries cache file upload to s3"
aws --no-progress s3 cp "{{ chia_root }}/db/sub-epoch-summaries" "s3://{{ blockchain_backup_bucket }}/{{ network }}/sub-epoch-summaries"

{% if network != "mainnet" %}
{% if secondary_backup_bucket != "" %}
log "Uploading compressed database to secondary backup bucket..."
aws --no-progress s3 cp "/tmp/blockchain_{{ db_version }}_{{ network }}.sqlite.gz" "s3://{{ secondary_backup_bucket }}/{{ network }}/blockchain_{{ db_version }}_{{ network }}.sqlite.gz"

log "Authenticating with b2 service"
/usr/local/sbin/b2 authorize-account {{ b2_application_key_id }} {{ b2_application_key }}

log "Uploading compressed database to b2 bucket..."
/usr/local/sbin/b2 upload-file --noProgress chia-public-databases "/tmp/blockchain_{{ db_version }}_{{ network }}.sqlite.gz" "blockchain_{{ db_version }}_{{ network }}.sqlite.gz"

{% endif %}
{% endif %}

log "Backup Complete!"
