server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    root /dev/null;

    server_name {{ cadt_api_hosts | join( " " ) }};

    ssl_certificate /etc/letsencrypt/live/{{ cadt_api_hosts | first }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ cadt_api_hosts | first }}/privkey.pem;

    # SSL configurations from letsencrypt
    include /etc/nginx/snippets/options-ssl-nginx.conf;

    resolver                  1.1.1.1;

{% if basic_authentication %}
    auth_basic              "Access Restricted";
    auth_basic_user_file    /etc/nginx/.htpasswd;
{% else %}
    # No basic authentication
{% endif %}

    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }


    include /etc/nginx/{{ cadt_api_hosts | first }}_proxy_includes/*.inc;

}
