check host localhost with address 127.0.0.1/v1/projects
    start program = "/bin/systemctl start cadt" with timeout 600 seconds
    stop program = "/bin/systemctl stop cadt"
    if failed port {{ cadt_port }} then restart
    if 5 restarts within 5 cycles then timeout
