pool_info:
  default_res: {{ pool_reference_default_res }}
  name: {{ pool_reference_name }}
  logo_url: {{ pool_reference_logo_url }}
  description: {{ pool_reference_description }}
welcome_message: {{ pool_reference_welcome_message }}
pool_fee: {{ pool_reference_pool_fee }}
block_claim_fee: {{ pool_reference_block_claim_fee }}
pool_url: {{ pool_reference_pool_url }}
min_difficulty: {{ pool_reference_min_difficulty }}
default_difficulty: {{ pool_reference_default_difficulty }}
default_target_address: {{ pool_reference_default_target_address }}
pool_fee_address: {{ pool_reference_pool_fee_address }}
wallet_fingerprint: {{ pool_reference_wallet_fingerprint }}
authentication_token_timeout: {{ pool_reference_authentication_token_timeout }}
wallet_id: {{ pool_reference_wallet_id }}
node_rpc_port: {{ chia_full_node_rpc_port }}
wallet_rpc_port: {{ chia_wallet_rpc_port }}
partial_time_limit: {{ pool_reference_partial_time_limit }}
partial_confirmation_delay: {{ pool_reference_partial_confirmation_delay }}
scan_start_height: {{ pool_reference_scan_start_height }}
collect_pool_rewards_interval: {{ pool_reference_collect_pool_rewards_interval }}
confirmation_security_threshold: {{ pool_reference_confirmation_security_threshold }}
payment_interval: {{ pool_reference_payment_interval }}
max_additions_per_transaction: {{ pool_reference_max_additions_per_transaction }}
number_of_partials_target: {{ pool_reference_number_of_partials_target }}
time_target: {{ pool_reference_time_target }}
relative_lock_height: {{ pool_reference_relative_lock_height }}
logging:
  log_path: {{ pool_reference_log_path }}
  log_filename: {{ pool_reference_log_filename }}
  log_level: {{ pool_reference_log_level }}
  log_maxfilesrotation: {{ pool_reference_log_maxfilesrotation }}
  log_stdout: {{ pool_reference_log_stdout }}
server:
  server_host: {{ pool_reference_server_host }}
  server_port: {{ pool_reference_server_port }}
  server_use_ssl: {{ pool_reference_server_use_ssl }}
  server_ssl_crt: {{ pool_reference_server_ssl_crt }}
  server_ssl_key: {{ pool_reference_server_ssl_key }}
