[Unit]
Description=Runs userify service every minute
Requires=userify.service

[Timer]
Unit=userify.service
OnCalendar=*-*-* *:*:00

[Install]
WantedBy=timers.target
