#!/bin/bash

THEDATE=$(date +%s)
BACKUP_FILENAME="backup-${THEDATE}.snap"
BACKUP_FILE="/tmp/$BACKUP_FILENAME"
export VAULT_ADDR="{{ vault_addr }}"

LOCK_FILE="/tmp/vault-backup.lock"

cleanup() {
	rm -f "$LOCK_FILE" || true
	rm -f "$BACKUP_FILE" || true
}

if [ -e $LOCK_FILE ]; then
	echo "Lock file exists, not starting another backup"
	exit 1
fi

trap cleanup EXIT

touch $LOCK_FILE

echo "Starting vault backup"
n=0
until [ "$n" -ge 5 ]; do
	vault operator raft snapshot save $BACKUP_FILE && break
	n=$((n + 1))
	echo "Backup failed, retrying"
done

echo "Starting upload to s3..."
aws s3 cp "$BACKUP_FILE" "s3://{{ vault_backup_bucket }}/$BACKUP_FILENAME"

echo "Backup Complete!"
