[Unit]
Description=Chia HW VDF Service for {{ user }}
PartOf={{ chia_service_base }}.target

[Service]
Type=simple
ExecStart=/usr/bin/hw_vdf_client --vdf-threads {{ chia_hw_vdf_vdf_threads }} --proof-threads {{ chia_hw_vdf_proof_threads }} --freq {{ chia_hw_vdf_freq }} --vdfs-mask {{ chia_hw_vdf_mask }} --ip {{ timelord_launcher_host }} {{ chia_timelord_launcher_port }}
User={{ user }}
Group={{ group }}
LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target
