[Unit]
Description=Chia Daemon Service for {{ user }}
StopWhenUnneeded=true
PartOf={{ chia_service_base }}.target

[Service]
Type=simple
Environment=CHIA_ROOT={{ chia_root }}
{% if chia_installation_method == "source" %}
Environment=PATH=/home/{{ user }}/chia-blockchain/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/{{ user }}/chia-blockchain/venv/bin/python -m chia.daemon.server
{% else %}
ExecStart=/opt/chia/daemon
{% endif %}
ExecStartPost=/bin/bash -c '(while ! nc -z -v -w1 localhost {{ chia_daemon_port }} 2>/dev/null; do echo "Waiting for the daemon to listen on port {{ chia_daemon_port }}..."; sleep 1; done); sleep 1'
User={{ user }}
Group={{ group }}
LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target
