[Unit]
Description=Chia
Wants={{ chia_service_base }}-daemon-{{ user }}.service
{% for service in chia_enabled_services %}
Wants={{ chia_service_base }}-{{ service }}-{{user}}.service
{% endfor %}

[Install]
WantedBy=multi-user.target
