[Unit]
Description=Chia DNS Introducer Service

[Service]
Environment=PATH=/home/{{ user }}/chiadns/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=CHIA_ROOT=/home/{{ user }}/.chia
ExecStart=/home/{{ user }}/chiadns/venv/bin/python /home/{{ user }}/chiadns/chia/crawler/crawler_dns.py
User={{ user }}
Group={{ group }}
TimeoutStopSec=1
LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target
