- targets:
    - localhost
  labels:
    job: chia
    application: "{{ application }}"
    component: "{{ component }}"
    network: "{{ network }}"
    group: "{{ group_tag }}"
    ref: "{{ repo_ref }}"
    host: "{{ ansible_hostname | default('localhost') }}"
    __path__: "{{ chia_root }}/log/debug.log"
