server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /var/log/promtail/positions.yaml

clients:
  - url: "http://localhost:3100/loki/api/v1/push"

scrape_configs:
  - job_name: syslog
    static_configs:
      - targets:
          - localhost
        labels:
          job: syslog
          __path__: /var/log/syslog

  - job_name: fail2ban
    file_sd_configs:
      - files:
          - /etc/promtail/fail2ban_targets.yml
        refresh_interval: 1m

  - job_name: chia
    file_sd_configs:
      - files:
          - /etc/promtail/chia_targets.yml
        refresh_interval: 1m

    pipeline_stages:
      - multiline:
          firstline: ".*"
          separator: "\n"
          max_wait_time: 15s
          condition:
            regex:
              pattern: "^(?P<year>[0-9]{4})-(?P<month>[0-9]{2})-(?P<day>[0-9]{2})T|^VDF.Client:"

      - json:
          expressions:
            year: year
            month: month
            day: day
