server:
http_listen_port: 9080
grpc_listen_port: 0

positions:
  filename: /var/log/promtail/positions.yaml

clients:
  - url: "{{ LOKI_ENDPOINT }}"
    basic_auth:
      username: "{{ LOKI_USERNAME }}"
      password: "{{ LOKI_PASSWORD }}"

scrape_configs:
  - job_name: syslog
    static_configs:
    - targets:
        - localhost
      labels:
        job: syslog
        host: {{ ansible_hostname | default('localhost') }}
        __path__: /var/log/syslog


  - job_name: fail2ban
    static_configs:
      - targets:
          - localhost
        labels:
          job: fail2ban
          host: {{ ansible_hostname | default('localhost') }}
          __path__: /var/log/fail2ban.log
        relabel_configs:
          - source_labels: [__path__]
            regex: /var/log/fail2ban.log
            action: keep
            if: "fileExists('/var/log/fail2ban.log')"
