server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    root /var/www/{{ climate_apps_domain | first }};

    server_name {{ climate_apps_domains | join( " " ) }};

    ssl_certificate /etc/letsencrypt/live/{{ climate_apps_domains | first }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ climate_apps_domains | first }}/privkey.pem;

    # SSL configurations from letsencrypt
    include /etc/nginx/snippets/options-ssl-nginx.conf;

    resolver                  1.1.1.1;

{% if basic_authentication %}
    auth_basic              "Access Restricted";
    auth_basic_user_file    /etc/nginx/.htpasswd;
{% else %}
    # No basic authentication
{% endif %}

    index index.html;
    include /etc/nginx/{{ climate_apps_domains | first }}_proxy_includes/*.inc;
    include /etc/nginx/{{ climate_apps_domains | first }}_ui_includes/*.inc;

    location / {
        try_files $uri $uri/ =404;
    }

}
