---
- name: Disable password login for SSH
  become: true
  ansible.builtin.lineinfile:
    path: "/etc/ssh/sshd_config"
    regexp: '^PasswordAuthentication'
    line: "PasswordAuthentication no"
  notify: restart-ssh

- name: Disable root login for SSH
  become: true
  ansible.builtin.lineinfile:
    path: "/etc/ssh/sshd_config"
    regexp: '^PermitRootLogin'
    line: "PermitRootLogin no"
  notify: restart-ssh
